<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.PWD}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{.RootAssetsPath}}?asset=favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{.RootAssetsPath}}?asset=index.css"/>
    <script>
        function showDialog(dialogId) {
            const dialog = document.getElementById(dialogId + "-dialog");
            dialog.style.display = "block";
        }

        function closeDialog(dialogId) {
            const dialog = document.getElementById(dialogId + "-dialog");
            dialog.style.display = "none";
        }

        function confirmDelete(name) {
            return confirm('Confirm delete file\n' + name);
        }

        async function getUrl(filepath) {
            const url = "?filepath=" + filepath
            let response = await fetch(url)
            const body = await response.text()
            alert(body)
        }
    </script>
</head>
<body>
<ul class="menu">
    <li><a href="#" onclick="showDialog('upload')">Upload File</a></li>
    <li><a href="#" onclick="showDialog('mkdir')" style="margin-left: 1.5em;">Create Folder</a></li>
</ul>

<div id="upload-dialog" class="dialog-overlay">
    <div class="dialog">
        <a href="#" class="close" onclick="closeDialog('upload')">&times;</a>
        <h2>Upload File</h2>
        <form method="POST" action="{{.PWD}}?upload" enctype="multipart/form-data">
            <input required name="file" type="file"/>
            <button type="submit">upload</button>
        </form>
    </div>
</div>

<div id="mkdir-dialog" class="dialog-overlay">
    <div class="dialog">
        <a href="#" class="close" onclick="closeDialog('mkdir')">&times;</a>
        <h2>Create Folder</h2>
        <form method="POST" action="{{.PWD}}?mkdir" enctype="application/x-www-form-urlencoded">
            <input type="text" autocomplete="off" name="folder_name" placeholder="Folder Name" required/>
            <button type="submit">create</button>
        </form>
    </div>
</div>

<table class="item-list">
    <tr>
        <th style="width: 50%">file</th>
        <th style="width: 10%">size</th>
        <th style="width: 20%">time</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
    </tr>
    <tr>
        <td style="font-size: 1.2em; font-weight: bold;"><a href="{{.ParentDirPath}}">{{if .IsRoot}}. /{{else}}. . /{{end}}</a></td>
    </tr>
    {{range .Files}}
    <tr>
        <td><a href="{{.Url}}">{{.DisplayName}}</a></td>
        <td>{{.DisplaySize}}</td>
        <td style="color: #999;">{{.DisplayTime}}</td>
        <td>
            {{if .CanDelete}}
            <form method="POST" action="{{.Url}}?delete" onsubmit="return confirmDelete('{{.DisplayName}}')">
                <button type="submit" style="color: blueviolet">delete</button>
            </form>
            {{end}}
        </td>
        <td>
            {{if not .IsDir}}
            <button onclick="getUrl('{{.Url}}')">share</button>
            {{end}}
        </td>
    </tr>
    {{end}}
</table>

</body>
</html>