<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.CurrentPath}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="?asset=favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="?asset=index.css"/>
    <script>
        function showDialog(dialogId) {
            const dialog = document.getElementById(dialogId + "-dialog");
            dialog.style.display = "block";
        }

        function closeDialog(dialogId) {
            const dialog = document.getElementById(dialogId + "-dialog");
            dialog.style.display = "none";
        }

        function confirmDelete(name) {
            return confirm('Confirm delete file\n' + name);
        }

        function copyText(file_id) {
            const copyText = "https://" + window.location.host + "?file_id=" + file_id;
            navigator.clipboard.writeText(copyText)
                .then(() => {
                    alert("successfully copied");
                })
                .catch(() => {
                    alert("something went wrong when trying to copy");
                });
        }

        function uploadLargeFile(url) {
            const fileInput = document.getElementById('large-file');
            const file = fileInput.files[0];
            const xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.setRequestHeader('Content-Type', 'application/octet-stream');
            xhr.setRequestHeader('X-Filename', encodeURIComponent(file.name));

            xhr.onload = function() {
                if (xhr.status >= 200 && xhr.status < 300) {
                    location.reload();
                } else {
                    console.error('Upload failed:', xhr.statusText);
                    try {
                        const respJson = JSON.parse(xhr.responseText);
                        console.log('Error details:', respJson);
                    } catch (e) {

                    }
                }
            };

            xhr.onerror = function() {
                console.error('Upload error:', xhr.statusText);
            };

            xhr.send(file);
        }
    </script>
</head>
<body>
<ul class="menu">
    <li><a href="#" onclick="showDialog('upload-file')">Upload File</a></li>
    <li><a href="#" onclick="showDialog('upload-large-file')">Upload Large File</a></li>
    <li><a href="#" onclick="showDialog('mkdir')" style="margin-left: 1.5em;">Create Folder</a></li>
</ul>

<div id="upload-file-dialog" class="dialog-overlay">
    <div class="dialog">
        <a href="#" class="close" onclick="closeDialog('upload-file')">&times;</a>
        <h2>Upload File</h2>
        <form method="POST" action="{{.CurrentPath}}?upload" enctype="multipart/form-data">
            <input required name="file" type="file" multiple="multiple"/>
            <button type="submit">upload</button>
        </form>
    </div>
</div>

<div id="upload-large-file-dialog" class="dialog-overlay">
    <div class="dialog">
        <a href="#" class="close" onclick="closeDialog('upload-large-file')">&times;</a>
        <h2>Upload Large File</h2>
        <input required type="file" id="large-file" />
        <button onclick="uploadLargeFile('{{.CurrentPath}}?large-file-upload')">upload</button>
    </div>
</div>

<div id="mkdir-dialog" class="dialog-overlay">
    <div class="dialog">
        <a href="#" class="close" onclick="closeDialog('mkdir')">&times;</a>
        <h2>Create Folder</h2>
        <form method="POST" action="{{.CurrentPath}}?mkdir" enctype="application/x-www-form-urlencoded">
            <label>
                <input type="text" autocomplete="off" name="folder_name" placeholder="Folder Name" required/>
            </label>
            <button type="submit">create</button>
        </form>
    </div>
</div>
<table class="item-list">
    <tr>
        <th style="width: 40%">file</th>
        <th style="width: 15%">size</th>
        <th style="width: 15%">time</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>
    </tr>
    <tr>
        <td style="font-size: 1.2em; font-weight: bold;"><a href="{{.ParentPath}}">{{if .IsRoot}}. /{{else}}. . /{{end}}</a></td>
    </tr>
    {{range .Files}}
    <tr>
        <td><a href="{{.Url}}">{{.DisplayName}}</a></td>
        <td>{{.DisplaySize}}</td>
        <td style="color: #999;">{{.DisplayTime}}</td>
        <td>
            {{if .CanDelete}}
            <form method="POST" action="{{.Url}}?delete" onsubmit="return confirmDelete('{{.DisplayName}}')">
                <button type="submit" style="color: blueviolet">delete</button>
            </form>
            {{end}}
        </td>
        <td>
            {{if not .IsDir}}
            <button onclick="copyText('{{.ID}}')">share</button>
            {{end}}
        </td>
    </tr>
    {{end}}
</table>

</body>
</html>